.root {
    -fx-background-image: url("https://as1.ftcdn.net/v2/jpg/03/01/23/58/1000_F_301235857_NhqCczGN4LlOPiPXs1NJzfOp8DWNE16R.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-text-fill: white;
    -fx-font-family: "Bahnschrift";
}


#login, #password {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#information {
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-font-family: "Droid Sans Mono Slashed";
}

#pane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}